<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079244026422-hkgddu50f5dee34qmnngv201lvpectaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079244026422-hkgddu50f5dee34qmnngv201lvpectaq</string>
	<key>API_KEY</key>
	<string>AIzaSyDVokYmp6lvnmEmn9LZqOBk_H5_rHnItKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1079244026422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectEstimator</string>
	<key>PROJECT_ID</key>
	<string>project-estimator-d6866</string>
	<key>STORAGE_BUCKET</key>
	<string>project-estimator-d6866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079244026422:ios:337671a1ab31cc95621e97</string>
	<key>DATABASE_URL</key>
	<string>https://project-estimator-d6866.firebaseio.com</string>
</dict>
</plist>